<h1>Welcome, Please Login</h1>

<form method="POST" action="/login" style="display:flex;flex-direction:column;justify-content:center ">
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="password" placeholder="Password">
    <input type="submit" name="login-submit" placeholder="Login">
</form>