
<h1>New Contact Form </h1>

<form method="POST"  style="display:flex;flex-direction:column;justify-content:center; ">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="phone" placeholder="Number">
    <input type="submit" name="newContact-submit" placeholder="Create Contact">
</form>