<h1 style="display:flex;justify-content:center"> Welcome, please Sign Up below</h1>



<form method="POST" action="/signup" style="display:flex;flex-direction:column;justify-content:center;">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="passwordRepeat" placeholder="Repeat Password">
    <input type="text" name="phoneNumber" placeholder="Phone Number">
    <input type="submit" name="login-submit" placeholder="SignUp">
</form>